
.container{
    width: 50%;
    margin-left: 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: lightyellow;
    padding: 10px;
    margin: 20px 10px 500px 100px;
}


.container button{
    background-color: blue;
    color: white;
    border:1px solid black;
    border-radius: 5px;
    padding: 2px 4px;
    margin:10px auto;
    
}