<!-- app.component.html -->

<span style="float: right;">

    <ul class="inline-list" style="margin-top: 0px;"> <!-- Adjust the value as needed -->

        <!-- <li style="display: inline; margin-right: 10px;"><a href="javascript:void(0)" (click)="login()">Login</a></li>
        <li style="display: inline;"><a href="javascript:void(0)" (click)="logout()">Logout</a></li> -->
    </ul>
</span>
<router-outlet></router-outlet>
<app-login></app-login>
<app-cart></app-cart>
<!-- <app-test></app-test> -->
<button type="button" class="btn btn-danger" >click</button>