<!-- app.component.html -->

<span style="float: right;">

    <ul class="inline-list" style="margin-top: 0px;"> <!-- Adjust the value as needed -->

        <!-- <li style="display: inline; margin-right: 10px;"><a href="javascript:void(0)" (click)="login()">Login</a></li>
        <li style="display: inline;"><a href="javascript:void(0)" (click)="logout()">Logout</a></li> -->
    </ul>
</span>
<div *ngIf="booleanValue">
    <nav class="navbar">
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" routerLink="/Home">Home</a>
            </li>


            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About us</a>
            </li>


            <li class="nav-item dropdown">
                <a class="dropdown-toggle" >Products</a>
                <ul class="dropdown-menu">
                    <li><a href="#" routerLink="/vegetables">vegetables</a></li>
                    <li><a href="#" routerLink="/fruits">fruits</a></li>

                </ul>
            </li>





            <li class="nav-item">
                <a (click)=cartClicked() class="nav-link" routerLink="/cart">Cart</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/contact">contacts us</a>
            </li>



        </ul>
    </nav>
    <h2 style="text-align: center;">Welcome to Home Component</h2>
    <!-- <span *ngFor="let item of items; let isLast=last" [ngStyle]="{'margin-right': isLast ? '0' : '8px'}">{{item}}</span> -->

</div>
<router-outlet></router-outlet>
<app-login></app-login>
<!-- <app-cart></app-cart> -->
<!-- <app-test></app-test> -->
<!-- <button type="button" class="btn btn-danger">click</button> -->