
<!-- <div *ngIf="booleanValue"> -->
<div class="product-list">

  <div class="product-item" [class.clicked]="isClicked" (click)=onClickStawberry()>
    <img src="../assets/fruits-images/stawbery.jpg" alt="Product 1">
    <h3>stawbery</h3>
    <p class="price">$25</p>
  </div>


  <div class="product-item" (click)=onClickMixfruit() >
    <img src="../assets/fruits-images/fruits.jpg" alt="Product 2">
    <h3>Mix fruit</h3>
    <p class="price">$25</p>
  </div>
  
  <div class="product-item" (click)=onClickpineapple()>
    <img src="../assets/fruits-images/pinapple.jpg" alt="Product 3">
    <h3>pinapple</h3>
    <p class="price">$25</p>
  </div>

</div>
<!-- </div> -->